<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="/static/js/react.production.min.js"></script>
    <script src="/static/js/react-dom.production.min.js"></script>
    <script src="/static/js/react-bootstrap.min.js"></script>
    <script src="/static/js/babel.min.js"></script>
    <script src="/static/js/axios.min.js"></script>
    <link href="/static/style/font.css" rel="stylesheet">
    <link href="/static/style/boostrap.min.css" rel="stylesheet">
    
    <style>
    body {
        font-family: 'Roboto Mono', sans-serif;
    }
    body > #root > div {
        height: 100vh;
    }
    </style>
    <title>Dashboard</title>
</head>
<body>
    <script type="text/babel" src="/static/utils.js"></script>
    <script type="text/babel" src="/static/navbar.js"></script>
    <script type="text/babel" src="/static/index.js"></script>
    <script type="text/babel" src="/static/gatewaysTable.js"></script>
    <script type="text/babel" src="/static/applicationTable.js"></script>
</body>
</html>
